#container{
    font-family:Arial, sans-serif;
    text-align:center;
    font-size:2rem;
    font-weight:bold;

}
button{
    font-size:1.5rem;
    padding:10px 15px;
    border-radius:10px;
    border-radius:10px;
    border:none;
    background-color:rgb(60, 127, 185);
    color:white;
    font-weight:bold;
    cursor:pointer;
}
button:hover{
    background-color:rgb(124, 154, 180);
}

button:active{
    background-color:black;
}
#input{
    font-size:2rem;
    width:150px;
    text-align:center;
    font-weight:bold;
}
